.footer {
  background-color: $black;
  @include page-grid;

  &__logo {
    margin-top: 61px;
  }

  &__menu-title {
    color: $grey;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 40px;
  }

  &__menu-item {
    color: $white;
    font-size: 16px;
    margin-top: 16px;
  }

  &__contact-us {
    color: $white;
    font-size: 48px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 64px;

    @include on-tablet {
      grid-column: 5/ 9;
    }
  }

  &__call-us {
    color: rgb(127, 128, 150);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    margin-top: 40px;
  }

  &__phone-numbers {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
  }

  &__phone-number {
    color: $white;
    font-size: 16px;
    text-align: left;
  }

  &__email {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 40px;
  }

  &__email-title {
    color: rgb(127, 128, 150);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }

  &__email-adress {
    color: $white;
    font-size: 16px;
    font-weight: 400;
  }

  &__icons {
    display: flex;
    gap: 34px;
    align-items: center;
    margin-top: 40px;
  }

  &__rules {
    color: $grey;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -1%;
    text-align: left;
    margin: 40px 0 56px;
  }
}
