.hero-section {
  position: relative;

  &__description {
    color: $black;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 32px;

    @include on-tablet {
      text-align: left;
      width: 280px;
      margin-top: 80px;
    }

    @include on-desktop {
      margin-top: 135px;
      text-align: left;
    }
  }

  &__title {
    color: $accent-orange;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    line-height: 85%;
    text-transform: uppercase;
    margin-top: 32px;

    @include on-tablet {
      font-size: 80px;
      white-space: nowrap;
    }

    @include on-desktop {
      font-size: 136px;

      white-space: nowrap;
    }
  }

  &__bg-img {
    background-image: url(../images/Cookie.svg);
    width: 288px;
    height: 290px;
    background-size: cover;
    background-position: center center;
    margin: 0 auto;

    @include on-tablet {
      position: absolute;
      z-index: -1;
      width: 326px;
      height: 328px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include on-desktop {
      position: absolute;
      z-index: -1;
      width: 544px;
      height: 546px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__button {
    width: 288px;
    height: 56px;
    display: flex;
    justify-content: center;
    gap: 6px;
    align-items: center;
    padding: 20px 71px;
    border: 2px solid $accent-orange;
    border-radius: 32px;
    background: transparent;
    cursor: pointer;

    @include on-tablet {
      margin: 0 auto;
    }

    @include on-desktop {
      margin-top: 64px;
    }

    &--text {
      color: $accent-orange;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
    }

    &:hover {
      .icon--cookie {
        fill: $white;
      }

      .hero-section__button--text { //как тут пофиксить этот класс
        color: $white;
      }

      background-color: $accent-orange;
    }
  }
}
